<a href="https://colab.research.google.com/github/sakshi0102/machinelearning_lab_CS3/blob/master/Expression_and_operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
n=9
print(n,'binary',format(n,'b'))
print(n,'* 2=',n<<1, format(n<<1,'b'))
print(n,'/ 2=',n>>1,format(n>>1,'b'))

9 binary 1001
9 * 2= 18 10010
9 / 2= 4 100

In [2]:
# logical
x = True
y = False
print('x and y is',x and y) # Output: x and y is False
print('x or y is',x or y) # Output: x or y is True
print('not x is',not x) # Output: not x is False

x and y is False
x or y is True
not x is False

In [3]:
# bitwise
x=12 
y=4
print(x & y) 
print(x | y)
print(x ^ y)

4
12
8

In [4]:
# in and not in

x = 'Hello world'
print('H' in x)    # Output: True
print('h' not in x)   # Output: True

True
True

In [5]:
# perform operations on complex numbers

import cmath
a=complex(20+5j)
b=complex(5+3j)
print('a+b',a+b)
print('a-b',a-b)
print('a*b',a*b)
print('a/b',a/b)

a+b (25+8j)
a-b (15+2j)
a*b (85+85j)
a/b (3.3823529411764706-1.0294117647058825j)

In [7]:
# write your code after this line
import math
length=int(input("Enter lenght of triangle"))
breadth=int(input("Enter Breadth of triangle"))
height=int(input("Enter height of triangle"))
s=(length+breadth+height)/2
area=(s*(s-height)*(s-length)*(s-breadth))
n=abs(area)
areaf=math.sqrt(n)
print(areaf)

Enter lenght of triangle1
Enter Breadth of triangle2
Enter height of triangle5
4.898979485566356

In [8]:
# write your code after this line
ch=input("Enter a letter ")
if(ch == 'a' or ch == 'e' or ch == 'i' or ch == 'o' or ch == 'u' or ch == 'A'
       or ch == 'E' or ch == 'I' or ch == 'O' or ch == 'U'):
  print("Character entered is Vowel ")
else:
  print("Character is consonant ")

Enter a letter A
Character entered is Vowel

In [12]:
# write your code after this line
ch=input("Enter a digit(ASCII) or character") 
if (ch>='48' and ch<='58'):
  print("Its a digit")
if(ch>='97' and ch<='122'):
  print("Character is lowercase")
if(ch>='65' and ch<='90'):
  print("Character is uppercase")

Enter a digit(ASCII) or characterA

In [13]:
# write your code after this line
n = int(input("Enter any number : "))
for i in range(1, 11):
  print(n," x ", i, " = ", n*i)

Enter any number : 7
7  x  1  =  7
7  x  2  =  14
7  x  3  =  21
7  x  4  =  28
7  x  5  =  35
7  x  6  =  42
7  x  7  =  49
7  x  8  =  56
7  x  9  =  63
7  x  10  =  70

In [15]:
import math
Sum = 0
n = int(input("Enter any number : "))
for i in range(1, n+1):
  Fact = math.factorial(i)
  Sum += Fact

print("Sum of series is: ", Sum)

Enter any number : 5
Sum of series is:  153

In [16]:
# write your code after this line
n, fact = int(input("Enter the number : ")), 1
for i in range(1,n+1):
  fact *= i
print("Factorial        :",fact)

Enter the number : 6
Factorial        : 720

In [17]:
# write your code after this line
L = list(map(int, input().split()))
n = len(L)
i = 0
Max = L[0]
while(i<n):
  if (L[i]>=Max):
    Max = L[i]  
  
  i += 1

print("Maximum is: ", Max)

45
Maximum is:  45

In [18]:

# factorial
n=int(input('Enter a number '))
fact=1
for i in range(n,1,-1):
    fact=fact*i
print(n,'! =',fact)

Enter a number 8
8 ! = 40320

In [20]:
# write your code after this line
for i in range(0, 10):
  if i == 3 or i == 6:
    continue
  else:
    print(i)

0
1
2
4
5
7
8
9

In [0]:
a, b, c = 0, 0, 0
for i in range(1, 11):
  N = int(input("Enter a number: "))

  if N > 0:
    a += 1
  elif N == 0:
    b += 1
  elif N < 0:
    c += 1

print(a, b, c)

Enter a number: 5
Enter a number: 2
Enter a number: 3
Enter a number: 5
Enter a number: 1
Enter a number: 0
Enter a number: 5
Enter a number: 5
Enter a number: 5